body {
  background-color: olive;
  font-size: 60 px;
  font-family: Arial;
  text-align: center;
}

h1 {
  color: deepskyblue;
  font-style: italic;
  padding-top: 10 px;
}

.title {
    font-weight: bold;
}

p {
  font-size: 45 px;
}

div {
    width: 40 px;
    padding: 50 px;
    margin: 80 px;
    border: 10 px solid black;
}

#theend {
    color: black;
}
